{% include "header.html" %}

{% block content %}
<div class="row">
	<div class="column grid_16"><p>Buy it on app store?</p></div>
</div>
<div class="row">
	<div class="column grid_16"><fb:like></fb:like></div>
</div>
<div class="row">
	<div class="column grid_12"><p>8</p>
		Game here!
        {% include "game.html" %}
	</div>
	<div class="column grid_4"><p style="line-height: 212px;">{% include "sidebar.html" %}</p></div>
</div>


<div class="row">
	<div class="column grid_16">
    {% comment %}
    <fb:comments xid="1" numposts="11" width="700"></fb:comments>
    {% endcomment %}
    </div>
</div>
{% endblock %}


<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({
    appId  : '167040766646409',
    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true  // parse XFBML
  });
</script>
</body>
</html>
