{% include "header.html" %}

{% block content %}
<div class="row">
	<div class="column grid_15"><p style="font-size:25pt;">Buy it on app store?</p></div>
</div>

<div class="row">
	<div class="column grid_11">
        {% include "game.html" %}
	</div>
	<div class="column grid_4"><p >{% include "sidebar.html" %}</p></div>
</div>

<div class="row">
	<div class="column grid_11">
    <fb:comments xid="1" width="540px" canpost="true" candelete="false" publish_feed="true"  returnurl="http://apps.facebook.com/explosivelove/">
    <fb:serverFbml width="540px" >  
     <script type="text/fbml" >
        <fb:fbml>
    
</fb:comments>
          </fb:fbml>
    </script>
</fb:serverFbml>
   
    </div>
</div>
{% endblock %}


<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({
    appId  : '167040766646409',
    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true  // parse XFBML
  });
</script>
</body>
</html>
