{% include "header.html" %}

{% block content %}
<div class="row">
	<div class="column grid_15"><p>Buy it on app store?</p></div>
</div>

<div class="row">
	<div class="column grid_11">
        {% include "game.html" %}
	</div>
	<div class="column grid_4"><p >{% include "sidebar.html" %}</p></div>
</div>
<div class="row">
	<div class="column grid_15"><fb:like></fb:like></div>
</div>

<div class="row">
	<div class="column grid_15">
    
    <fb:comments width="540"></fb:comments>
   
    </div>
</div>
{% endblock %}


<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({
    appId  : '167040766646409',
    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true  // parse XFBML
  });
</script>
</body>
</html>
