<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	

	<title>Explosive Love</title>

	<link rel="stylesheet" href="/site_media/grid.css" type="text/css" media="screen" />
	<script src="/site_media/js/jquery-latest.js"></script>
    <script type="text/javascript" >
    function reloadScores()
    {
    $.get('http://stats.ungespiludviklere.dk/game.fcgi/statistic/highscore/1/score/', function(data) {
  $('.rightbar').html(data);
  alert('Load was performed.');
});

}
    </script>

    <meta property="og:type" content="game"/>
    <meta property="og:url" content="stats.ungespiludviklere.dk/"/>
    
    <meta property="og:site_name" content="Explosive Love"/>
    <meta property="fb:admins" content="USER_ID"/>
    
          
<meta property="og:title" content="Explosive Love"/>
<meta property="og:image" content=""/>
<meta property="og:description"
          content="Explosive Love game"/>
          
          
          <style type="text/css" media="screen">

		body { margin: 10px 0 0 0; }
		
	
	</style>
<script type="text/javascript" src="http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject.js"></script>
		<script type="text/javascript">
		<!--
		function GetUnity() {
			if (typeof unityObject != "undefined") {
				return unityObject.getObjectById("unityPlayer");
			}
			return null;
		}
		if (typeof unityObject != "undefined") {
			unityObject.embedUnity("unityPlayer", "/site_media/WebPlayer.unity3d", 540, 358);
		}
		-->
		</script>
		<style type="text/css">
		<!--
		
		div.content {
			margin: auto;
			width: 800px;
		}
		div.missing {
			margin: auto;
			position: relative;
			top: 50%;
			width: 193px;
		}
		div.missing a {
			height: 63px;
			position: relative;
			top: -31px;
		}
		div.missing img {
			border-width: 0px;
		}
		div#unityPlayer {
			cursor: default;
			height: 545px;
			width: 800px;
		}
		-->
		</style>
</head>
