{% extends "canvas.html" %}

{% block content %}
<fb:serverFbml style="width: 755px;">  
     <script type="text/fbml">
        <fb:fbml>
        
<fb:request-form action="http://apps.facebook.com/explosivelove/postadd/"
                 method="POST" invite="true" type="Game"
                 content="{{ content }}">
     <fb:multi-friend-selector max="100"
           actiontext="Invite friends to play Explosive Love"
           showborder="true" rows="5" exclude_ids="{{ exclude_ids }}">
</fb:request-form>

         </fb:fbml>
    </script>
</fb:serverFbml>

{% endblock %}
